.card {
    perspective: 130rem;
    -moz-perspective: 130rem;
    position: relative;
    height: 52rem;
}
.card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
    overflow: hidden;
}

.card__side--back { 
    transform: rotateY(180deg);
}
.card__side--back-1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-3 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
    transform: rotateY(-180deg);
}
.card:hover .card__side--back {
    transform: rotateY(0)
}

.card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--1 {
    background-image: linear-gradient(to right bottom, 
    rgba(255, 185, 0, .85), 
    rgb(255, 119, 48, .85)),
    url(../../image/nat-5.jpg);
}
.card__picture--2 {
    background-image: linear-gradient(to right bottom,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 131, 0.8)),
    url(../../image/nat-6.jpg);
}
.card__picture--3 {
    background-image: linear-gradient(to right bottom, 
    rgba(41, 152, 255, .85), 
    rgba(86, 67, 250, .85)),
    url(../../image/nat-7.jpg);
}
.card__heading {
    font-size: 2.8rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
    position: absolute;
    top: 14rem;
    right: 2rem;
    width: 75%;
}
.card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
.card__heading-span--1 {
    background-image: linear-gradient(to right bottom, 
    rgba(255, 185, 0, .85), 
    rgba(255, 119, 48, .85));
}
.card__heading-span--2 {
    background-image: linear-gradient(to right bottom, 
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 131, 0.8));
}
.card__heading-span--3 {
    background-image: linear-gradient(to right bottom, 
    rgba(41, 152, 255, .85), 
    rgba(86, 67, 250, .85));
}
.card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
}
.card__details ul li {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}
.card__details ul li:not(:last-child) {
    margin-bottom: 3rem;
    border-bottom: 1px solid #eee;
}

.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}
.card__price-box {
    text-align: center;
    color: #fff;
}
.card__price-text {
    font-size: 1.4rem;
    text-transform: uppercase;
}
.card__price-value {
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 8rem;
}


@media only screen and (max-width: 56.25em),
        only screen and (hover: none) {
    .card {
        height: auto;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
    }
    .card__side {
        height: auto;
        position: relative;
        border-radius: 3px;
        box-shadow: none;
    }
    
    .card__side--back { 
        transform: rotateY(0);
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        margin-top: -3rem;
    }
    .card__details{
        padding: 3rem 2rem;
    }
    .card__details ul li {
        margin-bottom: 3rem;
    }
    
    .card:hover .card__side--front {
        transform: rotateY(0);
    }
    
    .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem;
    }
    .card__price-value {
        font-size: 5rem;
    }
    
}
